/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
  font-size: 14px !important;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

a {
  color: #007CD1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #007CD1;
}

table th,
table td {
  white-space: nowrap;
}

.content-wrapper {
  background-color: #fff;
}

.color-text-menu {
  color: white;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.jqte {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  margin: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  width: 100%;
}

.button-submit {
  margin-bottom: 1em;
}

input,
textarea {
  border-radius: 0 !important;
}

.main-menu {
  background-color: #007CD1;
}

.main-menu .logo img {
  position: absolute;
  left: 1.2em;
  height: 30px;
  margin-top: -15px;
}

.main-menu a {
  color: white !important;
}

.main-menu .menu-select {
  margin-bottom: 1.5em;
}

.main-menu .menu-left {
  padding-top: 1.5em;
}

.main-menu .menu-user-top {
  display: none;
}

.main-menu .menu-user-left {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: .5em;
  margin: .5em 0;
}

.main-menu .sidenav-second-level {
  margin-left: 1em;
}

.main-menu .sidenav-second-level li {
  list-style: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-menu .sidenav-second-level li:hover {
  margin-left: .5em;
}

.breadcrumb {
  margin: -1rem -1rem 0 -1rem;
  border-radius: 0;
  background-color: transparent;
}

.thead-table {
  background-color: rgba(51, 51, 51, 0.04);
  color: #007CD1;
}

.nav-tabs .active {
  background-color: transparent !important;
}

.error {
  position: absolute;
  top: 1em;
}

.main {
  color: #4b4b4b;
}

.main .main-content table.report th,
.main .main-content table.report td {
  white-space: normal;
}

.main .main-content .first-name .input {
  padding: 0;
}

.main .nav-tabs .active {
  color: #fff;
}

.main .nav-tabs .active a {
  color: #fff;
}

.main .page-header {
  margin: 10px 0 20px 0;
  font-size: 18px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.main .page-header .pull-right {
  float: right !important;
}

.main .page-header .pull-right a {
  padding: 0.3em 0.5em;
}

.main .tab-pane-label,
.main .tab-pane-text {
  background: #F4F4F4;
  border-bottom: 1px solid #ddd;
  padding: 12px;
  word-wrap: break-word;
}

.main .tab-pane-text {
  background: #fff;
}

.main .tab-pane-label {
  background: #F4F4F4;
}

.button-submit {
  border-radius: 0;
  margin-right: .5em;
}

.btn-file {
  position: relative;
  overflow: hidden;
  padding: 0.2em 1.8em;
  width: 150px;
  border-radius: 2px;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
}

#img-preview {
  width: 135px;
  height: 135px;
}

.text-note {
  text-align: center;
}

.border-list {
  border: 1px solid;
  border-color: #fff #ddd #ddd #ddd;
  margin-bottom: 1em;
}

.scroll-table {
  overflow-x: scroll;
  margin-bottom: 1em;
}

.datepicker {
  z-index: 1031 !important;
}

.form-group .col-form-label,
.form-group .text-note {
  text-align: left;
}

.form-group .is-invalid .invalid-feedback {
  display: block;
}

.tip-yellowsimple {
  z-index: 1031 !important;
}

.input-large {
  width: 300px;
}

.editable-icon {
  visibility: hidden;
}

.editable-input:hover ~ .editable-icon {
  visibility: visible;
}

.box-detail {
  padding-left: 30px;
}

.box-detail .text-detail-student {
  padding-top: 5px;
}

.detail-report {
  background-color: #d6d2cc;
}

.detail-report .criteria-group {
  background-color: #dad9d8;
}

.detail-report .criteria-group .category-criteria {
  background-color: #e6e3de;
}

#dashboard .has-shadow {
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.05), -1px -1px 3px rgba(0, 0, 0, 0.03);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.05), -1px -1px 3px rgba(0, 0, 0, 0.03);
}

#dashboard .has-shadow .border-left-bottom {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#dashboard .has-shadow .item .icon {
  color: #f05b25;
  font-size: 2.2em;
  text-align: right;
}

#dashboard .has-shadow .item .text .number {
  font-size: 2em;
  line-height: 0.7;
  color: #009EF6;
}

#dashboard .has-shadow .item .text .title a {
  color: #777;
  font-size: 1.2em;
}

#dashboard .has-shadow .item .text .title a:hover {
  color: #f05b25;
  text-decoration: none;
}

#dashboard .has-shadow .progress .progress-bar {
  background-color: #007CD1;
}

@media (min-width: 768px) {
  .main-content {
    margin-bottom: 1.5em;
    padding: 2em 1.5em;
  }

  .main-content .jqte {
    width: 66%;
  }

  label {
    text-align: right;
  }

  .btn-file {
    width: 100%;
  }

  .text-note {
    text-align: right;
  }
}

@media (min-width: 992px) {
  .menu-left {
    top: 54px !important;
    background-color: #009EF6 !important;
  }

  .menu-select {
    margin: 0 .5em !important;
  }

  .menu-select select {
    background-color: transparent;
    border: none;
    color: #fff;
  }

  .menu-select select option {
    color: #007CD1;
  }

  .menu-user-top {
    display: block !important;
  }

  .menu-user-top .dropdown-menu {
    top: 46px;
    left: -58px;
  }

  .menu-user-top .dropdown-menu a {
    color: #007CD1 !important;
  }

  .menu-user-left {
    display: none;
  }

  .main-content {
    margin-bottom: 1.5em;
    padding: 2em 3em;
  }

  .main-content .jqte {
    width: 75%;
  }

  .main-content .first-name {
    padding-left: 5em;
  }

  .main-content .last-name {
    padding-left: 1.2em;
  }
}

/*fix css authorize view */

.passport-authorize .panel {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #272882;
  border-radius: .25rem;
}

.passport-authorize .panel-heading {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #272882;
  position: relative;
}

.passport-authorize .panel-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem 6rem;
}

