a {
  color: #007CD1;
}

h1, h2, h3, h4, h5, h6 {
  color: #007CD1;
}

table {
  th, td {
    white-space: nowrap;
  }
}

.content-wrapper {
  background-color: #fff;
}

.color-text-menu {
  color: white;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.jqte {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  margin: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  width: 100%;
}

.button-submit {
  margin-bottom: 1em;
}

input, textarea {
  border-radius: 0 !important;
}

.main-menu {
  background-color: #007CD1;
  .logo {
    img {
      position: absolute;
      left: 1.2em;
      height: 30px;
      margin-top: -15px;
    }
  }
  a {
    color: white !important;
  }
  .menu-select {
    margin-bottom: 1.5em;
  }
  .menu-left {
    padding-top: 1.5em;
  }
  .menu-user-top {
    display: none;
  }
  .menu-user-left {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: .5em;
    margin: .5em 0;
  }
  .sidenav-second-level {
    margin-left: 1em;
    li {
      list-style: none;
      -webkit-transition: .2s ease-in-out;
      transition: .2s ease-in-out;
    }
    li:hover {
      margin-left: .5em;
    }
  }
}

.breadcrumb {
  margin: -1rem -1rem 0 -1rem;
  border-radius: 0;
  background-color: transparent;
}

.thead-table {
  background-color: rgba(51, 51, 51, 0.04);
  color: #007CD1;
}

.nav-tabs {
  .active {
    background-color: transparent !important;
  }
}

.error {
  position: absolute;
  top: 1em;
}

.main {
  color: #4b4b4b;
  .main-content {
    table.report {
      th, td {
        white-space: normal;
      }

    }
    .first-name {
      .input {
        padding: 0;
      }
    }
  }
  .nav-tabs {
    .active {
      a {
        color: #fff;
      }
      color: #fff;
    }
  }
  .page-header {
    margin: 10px 0 20px 0;
    font-size: 18px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
    .pull-right {
      float: right !important;
      a {
        padding: 0.3em 0.5em;
      }
    }
  }
  .tab-pane-label, .tab-pane-text {
    background: #F4F4F4;
    border-bottom: 1px solid #ddd;
    padding: 12px;
    word-wrap: break-word;
  }
  .tab-pane-text {
    background: #fff;
  }
  .tab-pane-label {
    background: #F4F4F4;
  }
}

.button-submit {
  border-radius: 0;
  margin-right: .5em;
}

.btn-file {
  position: relative;
  overflow: hidden;
  padding: 0.2em 1.8em;
  width: 150px;
  border-radius: 2px;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
}

#img-preview {
  width: 135px;
  height: 135px;
}

.text-note {
  text-align: center;
}

.border-list {
  border: 1px solid;
  border-color: #fff #ddd #ddd #ddd;
  margin-bottom: 1em;
}

.scroll-table {
  overflow-x: scroll;
  margin-bottom: 1em;
}

.datepicker {
  z-index: 1031 !important;
}

.form-group {
  .col-form-label, .text-note {
    text-align: left;
  }
  .is-invalid {
    .invalid-feedback {
      display: block;
    }
  }
}

.tip-yellowsimple {
  z-index: 1031 !important;
}

.input-large {
  width: 300px;
}

.editable-icon {
  visibility: hidden;
}

.editable-input:hover ~ .editable-icon {
  visibility: visible;
}

.box-detail {
  padding-left: 30px;
  .text-detail-student {
    padding-top: 5px;
  }
}

.detail-report {

  background-color: rgb(214, 210, 204);
  .criteria-group {
    background-color: rgb(218, 217, 216);

    .category-criteria {
      background-color: rgb(230, 227, 222);
    }
  }
}

#dashboard {
  .has-shadow {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.05), -1px -1px 3px rgba(0, 0, 0, 0.03);
    .border-left-bottom {
      border-left: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
    .item {
      .icon {
        color: #f05b25;
        font-size: 2.2em;
        text-align: right;
      }
      .text {
        .number {
          font-size: 2em;
          line-height: 0.7;
          color: #009EF6;
        }
        .title {
          a {
            color: #777;
            font-size: 1.2em;
            &:hover {
              color: #f05b25;
              text-decoration: none;
            }
          }
        }
      }
    }
    .progress {
      .progress-bar {
        background-color: #007CD1;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-content {
    margin-bottom: 1.5em;
    padding: 2em 1.5em;
    .jqte {
      width: 66%;
    }
  }
  label {
    text-align: right;
  }
  .btn-file {
    width: 100%;
  }
  .text-note {
    text-align: right;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .menu-left {
    top: 54px !important;
    background-color: #009EF6 !important;
  }
  .menu-select {
    margin: 0 .5em !important;
    select {
      background-color: transparent;
      border: none;
      color: #fff;
      option {
        color: #007CD1;
      }
    }

  }
  .menu-user-top {
    display: block !important;
    .dropdown-menu {
      top: 46px;
      left: -58px;
      a {
        color: #007CD1 !important;

      }
    }
  }
  .menu-user-left {
    display: none;
  }
  .main-content {
    margin-bottom: 1.5em;
    padding: 2em 3em;
    .jqte {
      width: 75%;
    }
    .first-name {
      padding-left: 5em;
    }
    .last-name {
      padding-left: 1.2em;
    }
  }
}
/*fix css authorize view */
.passport-authorize .panel {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #272882;
  border-radius: .25rem;
}
.passport-authorize .panel-heading {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid #272882;
  position: relative;
}
.passport-authorize .panel-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem 6rem;
}