.content-wrapper {
    background-color: #f9f9f9;
}
.no-padding {
    padding: 0px !important;
}
.jqte {
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.button-submit {
    width: 150px;
    height: 35px;
    color: white;
    background-color: #00a65a;
    border-color: #008d4c;
}
input, select, textarea {
    border-radius: 0 !important;
}